#jazzy-sidebar {
    background-color: #0d1117 !important; /* Cambia este color según tu preferencia */
}

#jazzy-sidebar .sidebar{
    overflow: hidden !important;
}
/*Panel de Usuario*/
#jazzy-sidebar .sidebar .user-panel{
    align-items: center;
    flex-direction: column;
}
#jazzy-sidebar .sidebar .user-panel .image{
    display: flex;
    padding-left: 0 !important;
}
#jazzy-sidebar .sidebar .user-panel .image img{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}
form h6 {
    margin-top: 1rem;
} 

/* Panel de Administración*/
nav .nav li:first-child{
    display: none;
}
nav .nav li:nth-child(2){
    display: none;
}
footer .float-right.d-none.d-sm-inline{
    display: none !important;
}
.nav-sidebar>.nav-item {
    margin-right:  0 !important;
}
#jazzy-navbar {
}

/* Cabecera de tabla*/
thead th{
    /* text-align: center; */
}
th .text a, th .text span{
    color: #0d1117 !important
}
.reports{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
